hw7/test
hw8/test
hw9/.vscode/configurationCache.log
hw9/.vscode/dryrun.log
hw9/.vscode/settings.json
hw9/.vscode/targets.log
hw10/210104004158.zip
hw10/test
hw10/.vscode/configurationCache.log
hw10/.vscode/dryrun.log
hw10/.vscode/settings.json
hw10/.vscode/targets.log
hw10/cse102-Hw10 1.pdf
hw11/.vscode/settings.json
